.boton{
    border-radius: 5px;
    padding: 5px 3px; 
    background-color: blue;
    color: beige;
    border: none;
    font-size: 17px;
    transition: background-color 0.3s ease-out 0.5s;
}

.boton:hover {
    background-color: coral;
}