.contenedor-main{
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
    
}

.contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contenedor img{
    max-width: 100%;
    height: 50em;
    width: 35em;
}